@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
:root {
    --bg-start-color: rgba(255, 51, 0, 0.568);
    --bg-end-color: rgb(237, 52, 64);
    --dark-text: rgba(1, 1, 17, 0.705);
    --complete-bg: rgb(250, 241, 241);
    --grey-bg: rgba(134, 131, 131, 0.637);
    --dark-bg-start: rgba(5, 4, 24, 0.884);
    --dark-bg-end: rgba(18, 14, 87, 0.884);
    --light-text: rgb(255, 255, 255);
    --footer-bg: rgb(38, 42, 49);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    smooth-behaviour: smooth;
}

body {
    font-family: Overpass, sans-serif;
    width: max-width;
    font-size: 16px;
    background: var(--complete-bg);
}


/*Styles for every section */

.header {
    height: 600px;
    position: relative;
    padding: 15px;
    background: linear-gradient(to right, var(--bg-start-color), var(--bg-end-color));
    display: block;
    border-radius: 0px 0px 0px 100px;
}

.middle-top,
.middle-bottom {
    position: relative;
    padding: 15px;
    height: 700px;
}

.middle-mid {
    position: relative;
    padding: 15px;
    height: 350px;
    background: linear-gradient(to right, var(--dark-bg-start), var(--dark-bg-end));
    display: block;
    border-radius: 0px 100px 0px 100px;
}

.footer {
    height: 300px;
    background-color: var(--footer-bg);
    border-radius: 0px 100px 0px 0px;
    color: var(--light-text);
    display: block;
    position: relative;
}


/*Images as background styles */

.header-image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../images/bg-pattern-intro.svg) center scroll no-repeat;
    background-clip: border-box;
    z-index: 1;
    background-position-x: -350px;
    background-position-y: -1260px;
    background-size: 3000px 3000px;
}

.middle-top-image,
.middle-bottom-image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../images/bg-pattern-circles.svg) right scroll no-repeat;
    background-size: 600px 600px;
    background-clip: border-box;
    z-index: 1;
    filter: grayscale(0.9) opacity(0.5);
}

.middle-top-image {
    background-position-x: 1150px;
    background-position-y: center;
}

.middle-bottom-image {
    background-position-x: -200px;
    background-position-y: center;
}

.middle-mid-image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../images/bg-pattern-circles.svg) right scroll no-repeat;
    background-position-x: -150px;
    background-position-y: -450px;
    background-size: 900px 900px;
    background-clip: border-box;
    z-index: 1;
}


/* Styles for every section's content*/

.header-content {
    position: relative;
    z-index: 2;
    color: var(--light-text);
}

.middle-top-content,
.middle-bottom-content {
    position: relative;
    z-index: 2;
    color: var(--dark-text);
}

.middle-mid-content {
    position: relative;
    z-index: 2;
    color: var(--light-text);
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-width;
}

.footer-centered-content {
    margin-top: 100px;
}

.footer-part {
    display: inline-block;
    width: 20%;
    margin-right: 30px;
}

@media only screen and (min-width:600px) {}

@media only screen and (min-width:1860px) {}